<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>网上商城后台首页</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/BS/css/bootstrap.min.css">
  <script type="text/javascript" src="__PUBLIC__/BS/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/holder.min.js"></script>
  <link rel="stylesheet" href="{:ADMIN_CSS}header.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}left.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}index.css">
  <link rel="stylesheet" type="text/css" href="{:ADMIN_CSS}admin.css">
  <script type="text/javascript" src="{:ADMIN_JS}admin.js"></script>
  <script type="text/javascript">
    var CONTROLLER="__CONTROLLER__";
  </script>
</head>
<body>
  <include file="Public:header"/>
  <div class="row">
    <include file="Public:left"/>
    <div class="right col-md-10">
    	<div class="container">
    		<div class="list">
          <h3>管理员列表</h3>
          <table class="table table-bordered">
            <tr class="success">
              <td class="text-center col-md-5">管理员名称</td>
              <td class="text-center col-md-2">添加时间</td>
              <td class="text-center col-md-2">上次登录时间</td>
              <td class="text-center col-md-2">上次登录ip</td>
              <td class="text-center col-md-1">操作</td>
            </tr>
            <foreach name="list" item="adminList">
              <tr class="tr{$adminList.a_id}">
                <td class="text-center">{$adminList.username}</td>
                <td class="text-center">{$adminList.add_time|date="Y-m-d H:i:s",###}</td>
                <td class="text-center">
                  <if condition="$adminList['last_time'] eq '' ">
                    <sapn class="text-warning">未登录过</sapn>
                  <else />
                    {$adminList.last_time|date="Y-m-d H:i:s",###}
                  </if>
                </td>
                <td class="text-center">
                  <if condition="$adminList['last_time'] eq '' ">
                    <sapn class="text-warning">未登录过</sapn>
                    <else />
                    {$adminList.last_ip}
                  </if>
                 </td>
                <td class="text-center"><a href="javascript:;" class="btn btn-danger btn-xs del" id="del{$adminList.a_id}">删除</a></td>
              </tr>
            </foreach>
          </table>
    		</div>
    		<div class="col-md-6 form">
    			<form class="form-horizontal">
	    			<div class="form-group">
					    <label for="adminName" class="col-md-4 control-label">管理员名称：</label>
					    <div class="col-md-8">
					      <input type="text" class="form-control" name="adminName" id="adminName" placeholder="新添加的管理员名称">
					    </div>
					  	<div class="tips col-md-8 col-md-offset-4"></div>
					  </div>
					  <div class="form-group">
					  	<div class="col-md-8 col-md-offset-4">
					  		<button class="btn btn-primary">添加</button>
					    </div>
					  </div>
    			</form>
    		</div>
    	</div>
    </div>
  </div>
  <include file="Public:footer"/>
</body>
</html>