<div class="header container">
  <ul class="pull-left left">
    <li class="pull-left">
      <a href="">
        <span class="first">亲，请登录</span>
      </a>
    </li>
    <li class="pull-left">
      <a href="">免费注册</a>
    </li>
  </ul>
  <ul class="pull-right right">
    <li class="pull-left">
      <a href="">已买到的宝贝</a>
    </li>
    <li class="pull-left">
      <a href="">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        购物车num
      </a>
    </li>
    <li class="pull-left">
      <a href="">
        <span class="glyphicon glyphicon-star"></span>
        收藏夹
      </a>
    </li>
  </ul>
</div>