<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>网上商城后台首页</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/BS/css/bootstrap.min.css">
  <script type="text/javascript" src="__PUBLIC__/BS/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/holder.min.js"></script>
  <link rel="stylesheet" href="{:ADMIN_CSS}header.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}left.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}index.css">
</head>
<body>
  <include file="Public:header"/>
  <div class="row">
    <include file="Public:left"/>
    <include file="Public:right"/>
  </div>
  <include file="Public:footer"/>
</body>
</html>