<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>网上商城客服管理</title>
  <link rel="stylesheet" type="text/css" href="__PUBLIC__/BS/css/bootstrap.min.css">
  <script type="text/javascript" src="__PUBLIC__/BS/js/jquery.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/BS/js/holder.min.js"></script>
  <link rel="stylesheet" href="{:ADMIN_CSS}header.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}left.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}index.css">
  <link rel="stylesheet" href="{:ADMIN_CSS}kefu.css">
  <script type="text/javascript" src="{:ADMIN_JS}kefu.js"></script>
  <script>
    //将thinkphp的系统常量、路径常量传递给外部js
    var CONTROLLER="__CONTROLLER__";
  </script>
</head>
<body>
<include file="Public:header"/>
<div class="row">
  <include file="Public:left"/>
  <div class="right col-md-10">
    <div class="container">
      <h2 class="text-primary">客服管理</h2><span class="help-block">首页最多只能显示5个客服信息</span>
      <table class="table table-bordered">
        <tr>
          <th class="text-center">客服名字</th>
          <th class="text-center">联系方式</th>
          <th class="text-center">操作</th>
        </tr>
        <!--计算循环次数-->
        <php>$times=0;</php>
        <foreach name="list" item="kefuList">
          <if condition="$times++ lt 5">
            <tr class="tr{$kefuList.k_id} success">
          <else/>
            <tr class="tr{$kefuList.k_id}">
          </if>
            <td class="text-center">{$kefuList.name}</td>
            <td class="text-center">{$kefuList.information}</td>
            <td class="text-center">
              <!--modal触发按钮-->
              <botton class="btn btn-warning btn-xs modify" id="modify{$kefuList.k_id}" data-toggle="modal" data-target="#modifyModal">修改</botton>
              <botton class="btn btn-danger btn-xs del" id="del{$kefuList.k_id}">删除</botton>
            </td>
          </tr>
        </foreach>
      </table>
      <div class="form-inline">
        <div class="form-group">
          <input type="text" name="name" placeholder="客服名字" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="information" placeholder="客服联系方式" class="form-control">
        </div>
        <div class="form-group">
          <botton class="btn btn-primary submit">提交</botton>
        </div>
        <div class="tips"></div>
      </div>
    </div>
  </div>
</div>
<include file="Public:footer"/>

<!-- Modal -->
<div class="modal fade" id="modifyModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">修改客服信息</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="name">客服名：</label>
          <input type="text" name="name" id="name" class="form-control" disabled />
        </div>
        <div class="form-group">
          <label for="information">联系信息：</label>
          <input type="text" name="information" id="information" class="form-control">
        </div>
        <div class="modalTips">ss</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary save">保存</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>